* {
    background: none;
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-family: MesloLGS Nerd Font;
}

window#waybar {
    background: none; /* rgb(24, 26, 34);*/
    /*border-bottom: 2px solid #8aadf4;*/
    color: white;
}

.modules-center, .modules-left, .modules-right {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#pulseaudio, #cpu, #memory, #temperature, #battery, #network, #tray, #clock, #custom-swaync {
    padding: 4px;
    margin: 2px;
    /*color: #8aadf4;*/
}

#clock, #custom-swaync {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: bold;
}

#custom-swaync {
    margin: 2px;
    padding: 0 8px;
}

#workspaces button {
    padding: 0 5px;
    background: none;
    /*color: #8aadf4;*/
    color: white;
    margin: 2px;
}

@keyframes blink {
    to {
        color: #ed8796;
    }
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#workspaces button.urgent {
    color: #8aadf4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #a6da95;
}

#battery.warning:not(.charging) {
    color: #eed49f
}

@keyframes blink {
    to {
        color: #ed8796;
    }
}

#battery.critical:not(.charging) {
    color: #eed49f;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    margin-right: 0;
    padding-right: 0;
}

#pulseaudio-slider {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    margin: 0;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 6px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 6px;
    border-radius: 6px;
    background-color: white;
}
